/* Root Variables: Defining global CSS variables to easily maintain and update the color scheme */
:root {
    --main-color-dark: #008000;
    --main-color-light: #ADFF2F;
    --main-color-darker: #006400;
}

.main-color {
    background: linear-gradient(to bottom, var(--main-color-dark), var(--main-color-light));
}

.main-color.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand {
    font-size:x-large;
    padding: 0;
}

nav .navbar-brand img {
    width: 8rem;
    height: 4rem;
    border-radius: 1rem;
}

.dropdown-menu {
    overflow: hidden;
}

@media (max-width: 870px) {
    .dropdown-item {
        white-space: normal;
    }
}

@media (max-width: 170px) {
    .navbar-brand {
        white-space: normal;
    }
}

/*This media query accommodates the error component to fit within its ancestor dropdown on small screens.*/
@media (max-width: 250px) {
    .error-li {
        padding: 0;
    }
    .dropdown-menu {
        padding: 0;
        border-radius: 0.7rem;
        min-width: 0;
    }
}