.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 1030;
}


.main-color {
    background: linear-gradient(to bottom, var(--main-color-dark), var(--main-color-light));
}

.main-color.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand {
    font-size:x-large;
    padding: 0;
}

nav .navbar-brand img {
    width: 8rem;
    height: 4rem;
    border-radius: 1rem;
}

.dropdown-menu {
    overflow: hidden;
}

@media (max-width: 870px) {
    .dropdown-item {
        white-space: normal;
    }
}

@media (max-width: 170px) {
    .navbar-brand {
        white-space: normal;
    }
}

/*This media query accommodates the error component to fit within its ancestor dropdown on small screens.*/
@media (max-width: 250px) {
    .error-li {
        padding: 0;
    }
    .dropdown-menu {
        padding: 0;
        border-radius: 0.7rem;
        min-width: 0;
    }
}

.cart {
    margin-right: 3rem;
    position: relative;
}

.cart-badge {
    background-color: red;
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    font-size: 0.7rem;
    position: absolute;
    top: -0.5rem;
    right: -0.6rem;
}

@media (max-width: 767px) {
    .cart {
        width: 1.6rem;
    }
}