.therapy-name {
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--main-color-dark);
    margin: 0.5rem 0 1rem;
}

.therapy-description {
    line-height: 1.7;
    text-align: justify;
}

.therapy-phone,
.therapy-schedule,
.therapy-price {
    font-size: 1.125rem;
}

.therapy-schedule {
    margin-bottom: 0.25rem;
}

.therapist-name,
.therapy-phone {
    margin-bottom: 0.7rem;
}

.therapist-name {
    font-weight: bold;
    color: var(--main-color-dark);
}

.therapy-image {
    width: 100%;
}

.therapy-phone a {
    font-size: 2rem;
}

@media (max-width: 300px) {
    .therapy-phone a {
        font-size: 1.7rem;
    }
}

@media (max-width: 250px) {
    .therapy-phone a {
        font-size: 1.5rem;
    }
    .therapy-name {
        word-break: break-all;
    }
}

@media (max-width: 212px) {
    .therapy-phone a {
        font-size: 1.3rem;
    }
}

@media (max-width: 186px) {
    .therapy-phone a {
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    .therapy-image {
        max-width: 75%;
    }
    .therapy-phone a {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .therapy-image {
        max-width: 50%;
    }
    .therapy-phone a {
        font-size: 1.3rem;
    }
}

@media (min-width: 992px) {
    .therapy-image {
        max-width: 40%;
    }
}